*{
    margin: 0px;
    padding: 3px;
    box-sizing: border-box;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
.hola-mundo{
    background-color: bisque;
    text-align: center;
    max-width: 650px;
    margin: 15px auto;
}
.flex-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.flex-index img{
    padding: 5px;
}

@media (max-width: 650px){
    .hola-mundo{
        background-color: aqua;
    }
}